# dependencies
/node_modules
/.pnp
.pnp.js

# next.js build files
/.next/
/out/

# local node runtime binaries
/.node/

# production build
/build
/dist

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local
.env

# OS files
.DS_Store
Thumbs.db
